.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  }
  .gallery img{
      margin: 5px;
      width: 400px;
      
  }
  .gallery img:hover{
      transform: scale(1.04)
  }